* {
  box-sizing: border-box;
}

body {
  background-color: oklch(5%, 0, 0);
}

.section {
  background-color: aquamarine;
  padding: 1rem;
  border: 1px solid black;
}

.container {
  background-color: bisque;
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.children {
  border: 1px rgba(231, 10, 10, 0);
  display: flex;
  padding: 1rem;
}

.flex-container {
  display: flex;
}
