*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: oklch(0.2 0 0);
  font-weight: 1.125rem;
  line-height: 150%;
}

.container {
  display: grid;
  //그리드 안에 무엇을 넣을떄 margin이 없는것이 조금 더 편함
  column-gap: 1.5rem;
  row-gap: 1.5rem; //gap: 24px해도 괜춘
  grid-template-columns: 12.5rem repeat(auto-fit, minmax(240px, 1fr)); //subgrid 를 맥이게 되면 repeat(두번쨰 부분부터 전체를 따르게된다)
  max-width: 80rem;
  padding: 0.75rem;
  background-color: oklch(0.5 0 0);
  margin-inline: auto;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1; // 원형태는 grid -row: 1/-1로 했을떄 되는게 맞음
  background-color: #fff;
  padding: 0.75rem;
  // 부모가 grid 속성을 띄고 있을 때 자녀들은 온 순서대로 쌓임 끝까지 차지 하고싶은경우 따로 조정해야하는데 조정하는 법 2가지 grid-column/grid-row이다.
  // 자리가 명시된 아이들은 그 자리로 가고 아닌 아이들은 그주위에 배치됨
}

.card-collection {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1/ -1;
  grid-template-columns: subgrid;
}

.title {
  grid-column: 1 / -1;
}
