* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  &__menu-group {
    display: flex;
    align-items: center;
    &--left {
      gap: 0.8125rem;
    }
    &--right {
      gap: 1rem;
      margin-top: 0.1875rem;
      padding-top: 0.1875rem;
    }
  }
  &__logo {
    height: 2rem;
    aspect-ratio: 200 / 51;
  }
  &__page-title {
    margin-top: 0.1875rem;
    padding-top: 0.1875rem;
    padding-left: 0.8125rem;
    line-height: 1.4375rem;
    border-left: 0.125rem solid #fff;
  }
  &__btn {
    padding-inline: 1.4375rem;
    padding-block: 0.4375rem;
    line-height: 2.25rem;
    border-radius: 0.5rem;
    &--outline {
      border: 0.0625rem solid #fff;
      background-color: #191a1b;
    }

    &--fill {
      background-color: #515fcb;
    }
    @media (width< 900px) {
      & {
        display: none;
      }
    }
  }
}

//@media (width < 50rem) {
//.navigation {
//&__menu-group {
//&—right {
// display: none;
//     }
// }
// }
//}

.hero {
  background-color: #dadbee;
  padding-inline: 1.875rem;
  padding-block: 5rem 7.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
  }
  &__text {
    width: 80%;
    font-size: 5rem;
    line-height: 7.5rem;
    text-align: center;
    margin-inline: auto;
  }
  &__search--input {
    margin-top: 1rem;
    padding: 1rem;
    border: 0.0625rem solid #000;
    background-color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 0.25rem;
    margin-inline: auto;
    display: block;
    width: 80%;
  }
}

.feature {
  padding: 1.875rem;
  &__container {
    width: 80%;
    margin-inline: auto;
    padding-left: 0;
    list-style-type: none;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    // &써도 가능!!
    & > * {
      flex-basis: 0;
      flex-grow: 1;
      //사이즈 지정해서 원한느 수만큼 조절해서 정리할때 쓰임 min-width
      //+메모 : 이따 제대로된 사이즈 측정해서 새로 나눌것
      min-width: 25rem;
    }
  }
}

.card {
  display: flex;
  gap: 30px;
  padding: 3rem;
  &__img {
    max-width: 80px;
  }
  &__agrea {
    &__left {
    }
    &__right {
    }
    &__title {
    }
    &__right {
    }
  }
}
