* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  background-color: #191a1b;
  color: #191a1b;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  max-width: 90rem;
  max-height: 61.25rem/;
}

.container {
  margin-inline: auto;
  background-color: #585858;
  max-width: 100%;
  max-height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0px 68px 19px 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  /* 마지막에 지워도 되게끔 처리하기 */
  background-color: #191a1b;
  color: #fff;
  line-height: 60px;
  padding-inline: 30px;
}

.navigation__logo {
  /* >width: 3.75rem; */
  height: 1.75rem;
  aspect-ratio: 60 / 22;
  margin: 0;
}

.navigation__logo > svg {
  display: flex;
  width: 150px;
  height: 100%;
}

.navigation__Abstract {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

/*.navigation__padding {
  padding-inline-start: 30px;
} */

.navigation > .navigation__menu-group {
  gap: 13px;
  display: flex;
  align-items: center;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.navigation__menu-group-left {
  align-items: flex-start;
}

.navigation__l {
  font-size: 40px;
  font-weight: 100;
  padding-top: 5px;
}

.navigation__menu-group-right < * {
}

.navigation__Submit {
  border: 0.0625rem solid #fff;
  padding: 15px 12px;
  border-radius: 7%;
  color: #fff;
  line-height: 1;
}

.navigation__sign-in {
  border: 0.0625rem;
  background-color: #4c5fd5;
  padding: 13px 25px;
  border-radius: 7%;
  line-height: 1;
  color: #ffffff;
  font-size: 22px;
  font-weight: 200;
}

.navigation__Submit .navigation__sign-in {
  display: inline-block;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
