@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --navigation-color: #f6f6eb;
  --navigation-logo-text-color: #381fd1;
  --downbar-background-color: #10284b;
  --sidebar-category-text-color: #4b4b4e;
  --sidebar-category-card-text-color: #10284b;
}

//html {
//  scroll-behavior: smooth;
//  scroll-padding-block-start: 32px;
//}

body {
  margin: 0;
  font-family: FamiljenGrotesk, HankenGrotesk, sans-serif;
  font-size: 16px;
  //overflow: initial;
  //overflow-y: initial;
}

img {
  display: block;
}

.container {
  height: auto;
  max-width: 100vw;
  margin-inline: auto;
  padding-inline: 1.5rem;
  // justify-content: center; 가운데 정렬 시켜줄만한거 확인 필요
}

ol {
  list-style: none;
  padding: 0;
}

h2 {
  margin-block: 0;
}

.navigation {
  height: 32px;
  display: flex;
  // row-gap: -x -0.25rem;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--navigation-color);
  font-family: HanKenGrotesk;
  font-weight: 900;
  font-size: 15px;
  line-height: 0.625rem;
  letter-spacing: 1.1008px;

  &--logo {
    width: 32px;
    height: 32px;
    padding: 0;
  }
  &--left {
    color: var(--navigation-logo-text-color);
  }
  &--login {
    color: var(--navigation-logo-text-color);
  }
  &--btn-fill {
    color: #fff;
    font-size: 0.875rem;
    border-radius: 7px;
    border-width: 2px;
    padding-inline: 8px;
    padding-block: 5px;
    border: solid #fff;
    background-color: var(--navigation-logo-text-color);
    border-color: transparent;
  }
  &--span {
    justify-content: center;
    column-gap: 110px;
  }
}

// .navigation--left .navigation--login {
//   column-gap: .625rem;
// }

.navigation > .navigation__menu-group {
  display: flex;
  margin-block: 5px;
  justify-content: center;
  padding-inline: 48px;
  column-gap: 2rem;
  align-items: center;
}

// .navigation__menu-group .navigation__menu-group-right {
//   column-gap: 16px;
// }

.catagory-container {
  margin-top: 4rem;
}

.category {
  // background-color: darkgray; //그리두 후 수정
  min-width: 280px;
  width: 280px;
  &--search-libary {
    line-height: 5px;
    margin-bottom: 12px;
    font-weight: 400;
    letter-spacing: 0.06rem;
    color: #4b4b4e;
  }
  &--search-bar {
    border: 2px solid #acacaf;
    border-radius: 4px;
    min-height: 2.4rem;
    width: 100%;
  }
  &--home {
    color: #381fd1;
    padding: 16px 0 16px 0.625rem;
  }
  &--collections {
    color: var(--sidebar-category-text-color);
    padding: 16px 0 16px 0.625rem;
  }
  &--catagories {
    color: var(--sidebar-category-text-color);
    margin-bottom: 8px;
    padding: 16px 0 16px 0.625rem;
  }
}

// navigation > .navigation__menu-group {

.category-margine-mid {
  // padding: 16px 0 16px 0.625rem;
  line-height: 1.7rem;
  font-weight: 600;
}

.category--contribute-card {
  padding: 1.5rem;
  margin-top: 1.4rem;
  background-color: #f3f2fc;
  border-radius: 0.5rem;

  &--contribute-card-title {
    color: var(--sidebar-category-card-text-color);
    line-height: 1.1rem;
    font-size: 1.5rem;
    font-weight: 900;
  }
  &--contribute-card-text {
    line-height: 1.7rem;
    color: var(--sidebar-category-card-text-color);
    margin-top: 8px;
    margin-bottom: 24px;
  }
  &--contribute-card-btn {
    padding-inline: 1rem;
    padding-block: 12px;
    text-align: center;
    align-items: center;
    background-color: var(--navigation-logo-text-color);
    color: #fff;
    border-radius: 8px;
  }
}

.title {
  background-color: #c7aaaa; //그리두 후 수정
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;

  &--name {
    font-weight: 1000;
    line-height: 1.625rem;
    font-size: 3rem;
    margin: 0;
    letter-spacing: -0.625rem;
  }
  &--view {
    // align-items: center;
    color: var(--navigation-logo-text-color);
    font-family: RobotoMono, sans-serif;
    font-weight: 700;
    font-size: 0.625rem;
    letter-spacing: 0.07rem;
    line-height: 140%;
  }
}

.subtitle {
  background-color: darkgray; //그리두 후 수정
}

.card1 {
  background-color: #c7aaaa; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.card2 {
  background-color: darkgray; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.card3 {
  background-color: #c7aaaa; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.card4 {
  background-color: darkgray; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.card5 {
  background-color: #c7aaaa; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.card6 {
  background-color: darkgray; //그리두 후 수정
  &--pic {
    max-width: 2.5rem;
  }
}

.title2 {
  background-color: darkgray; //그리두 후 수정
}

.subtitle2 {
  background-color: #c7aaaa; //그리두 후 수정
}

.card2-1 {
  background-color: darkgray; //그리두 후 수정
  &--pic {
    height: auto;
    max-width: 100%;
  }
}

.card2-2 {
  background-color: #c7aaaa; //그리두 후 수정
  &--pic {
    height: auto;
    max-width: 100%;
  }
}

.card2-3 {
  background-color: darkgray; //그리두 후 수정
  &--pic {
    height: auto;
    max-width: 100%;
  }
}

.downbar {
  background-color: var(--downbar-background-color);
}
