@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --navigation-color: #f6f6eb;
  --navigation-logo-text-color: #381fd1;
  --downbar-background-color: #10284b;
  --sidebar-category-text-color: #4b4b4e;
  --sidebar-category-card-text-color: #10284b;
  --card1-padding-inline: 24px;
  --card1-padding-top: 24px;
  --card1-padding-bottom: 40px;
}

body {
  margin: 0;
  font-family: FamiljenGrotesk, HankenGrotesk, sans-serif;
  font-size: 1rem;
  color: #10284b;
  max-width: 100vw;
}

img {
  display: block;
}

.container {
  height: auto;
  margin-inline: auto;
}

ol {
  list-style: none;
  padding: 0;
}

h1,
h2 {
  margin-block: 0;
}

.navigation {
  overflow-x: hidden;
  white-space: nowrap;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--navigation-color);
  font-family: HanKenGrotesk;
  font-weight: 900;
  font-size: 0.9375rem;
  line-height: 10px;
  letter-spacing: 0.0688rem;
}
.navigation--logo {
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.navigation--left {
  color: var(--navigation-logo-text-color);
}
.navigation--login {
  color: var(--navigation-logo-text-color);
}
.navigation--btn-fill {
  color: #fff;
  font-size: 14px;
  border-radius: 0.4375rem;
  border-width: 0.125rem;
  padding-inline: 0.5rem;
  padding-block: 0.3125rem;
  border: solid #fff;
  background-color: var(--navigation-logo-text-color);
  border-color: transparent;
}
.navigation--span {
  justify-content: center;
  -moz-column-gap: 6.875rem;
       column-gap: 6.875rem;
}

.navigation > .navigation__menu-group {
  display: flex;
  margin-block: 0.3125rem;
  justify-content: center;
  padding-inline: 3rem;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}

.grid {
  margin-top: 64px;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 24px;
  display: grid;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.main-grid {
  grid-column: 2;
  grid-row: 1;
}

.main-grid2 {
  grid-column: 2;
  grid-row: 4;
}

.catagory-container {
  margin-top: 64px;
}

.category {
  min-width: 17.5rem;
  width: 17.5rem;
}
.category--search-libary {
  line-height: 0.3125rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.96px;
  color: #4b4b4e;
}
.category--search-bar {
  border: 0.125rem solid #acacaf;
  border-radius: 0.25rem;
  min-height: 38.4px;
  width: 100%;
}
.category--home {
  color: #381fd1;
  padding: 1rem 0 1rem 10px;
}
.category--collections {
  color: var(--sidebar-category-text-color);
  padding: 1rem 0 1rem 10px;
}
.category--catagories {
  color: var(--sidebar-category-text-color);
  margin-bottom: 0.5rem;
  padding: 1rem 0 1rem 10px;
}

.category-margine-mid {
  line-height: 1.7;
  font-weight: 600;
}

.category--contribute-card {
  padding: 24px;
  margin-top: 22.4px;
  background-color: #f3f2fc;
  border-radius: 8px;
}
.category--contribute-card--contribute-card-title {
  color: var(--sidebar-category-card-text-color);
  line-height: 1.1;
  font-size: 24px;
  font-weight: 900;
}
.category--contribute-card--contribute-card-text {
  line-height: 1.7;
  color: var(--sidebar-category-card-text-color);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.category--contribute-card--contribute-card-btn {
  padding-inline: 16px;
  padding-block: 0.75rem;
  text-align: center;
  align-items: center;
  background-color: var(--navigation-logo-text-color);
  color: #fff;
  border-radius: 0.5rem;
}

.grid-2 {
  display: grid;
  grid-gap: 32px; /* 그리드 아이템 간의 간격 설정 */
  grid-auto-columns: 1fr 1fr 1fr;
  grid-column: 1;
  grid-row: 1/-1;
  overflow-wrap: break-word;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}
.title--name {
  font-weight: 1000;
  line-height: 1;
  font-size: 48px;
  margin: 0;
  letter-spacing: 0.8px;
}
.title--view {
  color: var(--navigation-logo-text-color);
  font-family: RobotoMono, sans-serif;
  font-weight: 700;
  font-size: 17.6px;
  letter-spacing: 1.12px;
  text-decoration: underline;
  white-space: nowrap;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.5;
}

.card-grid {
  display: grid;
}

.card1 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card1--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card1--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card1--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.card2 {
  grid-column: 2;
  grid-row: 1;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card2--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card2--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card2--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.card3 {
  grid-column: 3/3;
  grid-row: 1;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card3--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card3--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card3--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.card4 {
  grid-column: 1;
  grid-row: 2;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card4--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card4--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card4--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.card5 {
  grid-column: 3/2;
  grid-row: 2;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card5--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card5--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card5--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.card6 {
  grid-column: 3/3;
  grid-row: 2;
  padding-inline: var(--card1-padding-inline);
  padding-top: var(--card1-padding-top);
  padding-bottom: var(--card1-padding-bottom);
  border: 1.3px solid #e5e5e6;
  border-radius: 0.5rem;
}
.card6--pic {
  max-width: 40px;
  height: 2.5rem;
  border: 0.0625rem solid #cbcbcd;
  border-radius: 8px;
}
.card6--sub-t {
  color: var(--navigation-logo-text-color);
  letter-spacing: 1.28px;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  margin-top: 12px;
  margin-bottom: 8px;
}
.card6--main-t {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
}

.title2 {
  margin-top: 64px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}
.title2--name {
  font-weight: 1000;
  line-height: 1;
  font-size: 48px;
  margin: 0;
  letter-spacing: 0.8px;
}
.title2--view {
  color: var(--navigation-logo-text-color);
  font-family: RobotoMono, sans-serif;
  font-weight: 700;
  font-size: 17.6px;
  letter-spacing: 1.12px;
  text-decoration: underline;
  white-space: nowrap;
}

.subtitle2 {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.5;
}

.card_2 {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.card2-1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  display: inline-block;
  max-width: 16rem;
  padding-top: 1rem;
  background-color: #f6f6eb;
}
.card2-1--pic {
  height: auto;
  max-width: 100%;
  min-width: 16rem;
}
.card2-1--main-t {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: HankenGrotesk, sans-serif;
  line-height: 1.1;
  position: absolute;
  top: 22%;
  left: 38%;
  transform: translate(-50%, -50%);
  padding: 0.625rem;
}

.card2-2 {
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  position: relative;
  background-color: #f3f2fc;
  border-radius: 0.35rem;
  padding-top: 1.6rem;
  max-width: 16rem;
}
.card2-2--pic {
  height: auto;
  max-width: 100%;
}
.card2-2--main-t {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: HankenGrotesk, sans-serif;
  line-height: 1.1;
  left: 12%;
  top: -10px;
}

.card2-3 {
  grid-column: 3;
  grid-row: 1;
  display: inline-block;
  position: relative;
  background-color: #f6f6eb;
  border-radius: 0.35rem;
  padding-top: 1.6rem;
  max-width: 16rem;
}
.card2-3--pic {
  height: auto;
  max-width: 100%;
}
.card2-3--main-t {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: HankenGrotesk, sans-serif;
  line-height: 1.1;
  left: 12%;
  top: -10px;
}

.downbar-flex {
  display: flex;
  justify-content: center;
  background-color: var(--downbar-background-color);
  margin-top: 6rem;
}

.flex-grow {
  padding-bottom: 6rem;
  background-color: var(--downbar-background-color);
}

.downbar {
  background-color: var(--downbar-background-color);
  color: #f6f6eb;
  padding-inline: 1.5rem;
  margin-top: 6rem;
  margin-inline: 90px;
}

.downbar__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3rem;
  margin-bottom: 5rem;
}

.downbar__card1 {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
.downbar__card1--card1-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card1--card1-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card1--card1-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card1--card1-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card1--card1-name5 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card2 {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
.downbar__card2--card2-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card2--card2-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card2--card2-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card2--card2-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card2--card2-name5 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card3 {
  grid-column: 3;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
.downbar__card3--card3-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card3--card3-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card3--card3-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card3--card3-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card3--card3-name5 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card3--card3-name6 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card4 {
  grid-column: 4;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
.downbar__card4--card4-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card4--card4-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card4--card4-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card4--card4-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card4--card4-name5 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card5 {
  margin-bottom: 0.5rem;
}
.downbar__card5--card5-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card5--card5-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card5--card5-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card5--card5-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card5--card5-name5 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card6 {
  margin-bottom: 0.5rem;
}
.downbar__card6--card6-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card6--card6-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card6--card6-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card6--card6-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card6--card6-name5 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__card7 {
  margin-bottom: 0.5rem;
}
.downbar__card7--card7-name1 {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
.downbar__card7--card7-name2 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card7--card7-name3 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card7--card7-name4 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card7--card7-name5 {
  line-height: 1.7;
  font-weight: 600;
}
.downbar__card7--card7-name6 {
  line-height: 1.7;
  font-weight: 600;
}

.downbar__downside {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.downbar__downside-pic {
  display: flex;
  gap: 0.75rem;
}
.downbar__downside-pic--pic1 {
  width: 2rem;
  max-width: 100%;
  height: auto;
}
.downbar__downside-pic--pic2 {
  width: 2rem;
  max-width: 100%;
  height: auto;
}
.downbar__downside-pic--pic3 {
  width: 2rem;
  max-width: 100%;
  height: auto;
}
.downbar__downside-pic--pic4 {
  width: 2rem;
  max-width: 100%;
  height: auto;
}
.downbar__downside-pic--pic5 {
  width: 2rem;
  max-width: 100%;
  height: auto;
}

.downbar__downside-text {
  letter-spacing: 0.18rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: RobotoMono, sans-serif;
  color: #fedb63;
}